<!-- appointments-overview.component.html -->

<div>
    <h1>Reserved equipment appointments</h1>
  
    <table>
      <thead>
        <tr>
          <th>Equipment ID</th>
          <th>User ID</th>
          <th>Available Time Slot ID</th>
          <th>Extraordinary</th>
          <th>Company ID</th>
          <th>Status</th>
          <th>QR</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through appointments and display each item -->
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.equipmentId }}</td>
          <td>{{ appointment.userId }}</td>
          <td>{{ appointment.availableTimeSlotId }}</td>
          <td>{{ appointment.extraordinary ? 'Yes' : 'No' }}</td>
          <td>{{ companies[appointment.companyId]?.name }}</td>
          <td>{{ appointment.status }}</td>
          <td>
            <div>
              <img [src]="generateQRCode(appointment.id) | async" alt="QR Code">
            </div>
          </td>          
          <td><button (click)="cancelAppointment(appointment.id)">Cancel</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h1>Taken equipment appointments</h1>
  
    <table>
      <thead>
        <tr>
          <th>Equipment ID</th>
          <th>User ID</th>
          <th>Available Time Slot ID</th>
          <th>Extraordinary</th>
          <th>Company ID</th>
          <th>Status</th>
          <th>QR</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through appointments and display each item -->
        <tr *ngFor="let appointment of takenAppointments">
          <td>{{ appointment.equipmentId }}</td>
          <td>{{ appointment.userId }}</td>
          <td>{{ appointment.availableTimeSlotId }}</td>
          <td>{{ appointment.extraordinary ? 'Yes' : 'No' }}</td>
          <td>{{ appointment.companyId }}</td>
          <td>{{ appointment.status }}</td>
          <td>
            <div>
              <img [src]="generateQRCode(appointment.id) | async" alt="QR Code">
            </div>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

