.company-profile {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin: 20px;
}

h1 {
    color: #37a5b1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.description {
    font-weight: bold;
    font-style: italic;
    color: #6c757d;
}

.address {
    font-weight: bold;
    font-style: italic;
    color: #495057;
}

.city {
    font-weight: bold;
    font-style: italic;
    color: #495057;
}

.rating {
    font-weight: bold;
    font-style: italic;
    color: #495057;
}

.equipment {
    font-weight: bold;
    font-style: italic;
    color: #495057;
}

.certification {
    font-weight: bold;
    font-style: italic;
    color: #495057;
}

.phoneNumber {
    font-weight: bold;
    font-style: italic;
    color: #495057;
}

.form-group {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #37a5b1;
    color: white;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

button.cancel {
    background-color: #808080;
}
