<div class="company-profile">
    <h1>{{ company.name }}</h1>
    <p class="description">{{ company.description }}</p>
    <p class="address">Address: {{ company.address }}</p>
    <p class="city">City: {{ company.city }}</p>
    <p class="rating">Average rating: {{ company.rating }}</p>
    <p class="certification">Certification: {{ company.certification }}</p>
    <p class="phoneNumber">Phone number: {{ company.phoneNumber }}</p>



    <h3 class="equipment">Equipment</h3>

    <div class="search-container">
        <!-- <label for="nameSearch">Search:</label> -->
        <input type="text" id="search" [(ngModel)]="search" placeholder="Search equipment..."/>
        <button (click)="onSearch()">Search</button>
    </div>
    

    <ul>
        <li *ngFor="let equipment of filteredEquipments">
            <span class="equipment-name">{{ equipment.name }}</span>
            <button (click)="reserveEquipment(equipment)">Reserve</button>
        </li>
    </ul>
        <!-- Reserved Equipment Section -->
        <div class="reserved-equipment">
            <h2>Reserved Equipment</h2>
            <ul>
                <li *ngFor="let reservedEquipment of reservedEquipments">
                    {{ reservedEquipment.name }}
                    <button (click)="removeReservedEquipment(reservedEquipment)">Remove</button>
                </li>
            </ul>
            <td><button (click)="makeExtraordinaryAppointment(reservedEquipments)" *ngIf="reservedEquipments.length === 1">Reserve extraordinarily</button></td>

        </div>
    <h3 class="availableTimeSlots">Available time slots for equipment pickup</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Regular Reservation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let availableTimeSlot of availableTimeSlots">
                <td>{{ availableTimeSlot.date }}</td>
                <td>{{ availableTimeSlot.time }}</td>
                <td>{{ availableTimeSlot.duration }}</td>
                <td><button (click)="makeAppointment(availableTimeSlot)" *ngIf="isAdvailable(availableTimeSlot)">Reserve regularly</button></td>
            </tr>
        </tbody>
    </table>   
    
    <button (click)="onEditClicked()">Edit company</button>
    <div *ngIf="shouldRenderCompanyForm">
        <form [formGroup]="companyForm" class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
    
            <label for="description">Description:</label>
            <input type="text" id="description" formControlName="description">
              
            <label for="address">Address:</label>
            <input type="text" id="address" formControlName="address">
            
            <label for="city">City:</label>
            <input type="text" id="city" formControlName="city">

            <label for="rating">Average rating:</label>
            <input type="number" id="rating" formControlName="rating">

            <label for="certification">Certification:</label>
            <input type="text" id="certification" formControlName="certification">

            <label for="phoneNumber">Phone number:</label>
            <input type="text" id="phoneNumber" formControlName="phoneNumber">

            <button type="button" (click)="updateCompany()">Update</button>
            <button type="button" (click)="cancelUpdate()">Cancel</button>
        </form>
    </div>

    <button [routerLink]="['/company', company.id, 'equipments']">View more about equipments</button>
    <app-calendar *ngIf="shouldRenderCalendar" [company]="company"></app-calendar>

</div>
