<div class="search-container">
    <label for="nameSearch">Name:</label>
    <input type="text" id="nameSearch" [(ngModel)]="nameSearch" />

    <label for="typeSearch">Type:</label>
    <input type="text" id="typeSearch" [(ngModel)]="typeSearch" />

    <label for="minRating">Min Rating:</label>
    <input type="number" id="minRating" [(ngModel)]="minRating" />
  
    <label for="maxRating">Max Rating:</label>
    <input type="number" id="maxRating" [(ngModel)]="maxRating" />
  
    <button (click)="onSearch()">Search</button>
  </div>
  
  <table class="company-table">
    <thead>
      <tr>
        <th>Name</th>
        <td>Type</td>
        <td>Description</td>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of filteredEquipment">
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.type }}</td>
        <td>{{ equipment.description }}</td>
        <td>{{ equipment.rating }}</td>
      </tr>
    </tbody>
  </table>
  