<div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="password" formControlName="password" required>
            <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
                Please enter a valid password.
            </div>
        </div>

        <button type="submit" [disabled]="!passwordForm.valid">Change Password</button>
    </form>
</div>