<!-- login.component.html -->
<div class="login-card">
    <div class="card-header">
      <div class="log">Login</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" id="email" type="text">
        <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)" class="error">
          <div *ngIf="emailControl?.hasError('required')">Email is required.</div>
          <div *ngIf="emailControl?.hasError('email')">Invalid email format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <div class="password-input">
          <input formControlName="password" id="password" [type]="hidePassword ? 'password' : 'text'">
          <span (click)="togglePasswordVisibility()" class="toggle-password">
            <i *ngIf="hidePassword" class="fas fa-eye-slash"></i>
            <i *ngIf="!hidePassword" class="fas fa-eye"></i>
          </span>
        </div>
        <div *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)" class="error">
          <div *ngIf="passwordControl?.hasError('required')">Password is required.</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
    <div *ngIf="loginError" class="error">{{ loginError }}</div>
    <div class="register-link">
      <p>Don't have an account? <a href="http://localhost:4200/register">Sign up</a></p>
    </div>
  </div>
  
  <style>
    /* Add this style for password input and toggle icon */
    .password-input {
      position: relative;
    }
  
    .toggle-password {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  </style>
  