<div class="header">
  <h1>Company Administrator</h1>
</div>

<div class="wrapper">
  <div class="menu-button">
    <button (click)="toggleMenu()">☰</button>
  </div>
</div>

<div *ngIf="isMenuOpen" class="sidebar">
  <ul>
    <li>
      <a [routerLink]="'/usersWithAppointment'">Users with appointment</a>
    </li>
    <li>
      <a [routerLink]="'/equipmentAppointment'">Taking over the equipment</a>
    </li>
    <li>
      <a [routerLink]="'/calendar'">Work calendar</a>
    </li>
    <li>
      <a [routerLink]="'/availableTimeSlots'">Scheduling new appointment</a>
    </li>
    <li>
      <a [routerLink]="'/companyAdministrator/' + userId">Profile</a>
    </li>
  </ul>
</div>

<div class="image">
  <img src="assets/companyAdmin.jpg" alt="Company Admin Image">
</div>