<div class="navbar">
    <div class="section top">
      <p>DMJM</p>
    </div>
    <div class="section middle">
      <div class="icon"><i class="fas fa-building" routerLink="/company-search"></i></div>
      <div class="icon"><i class="fa-solid fa-stethoscope" routerLink="/equipment-search"></i></div>
    </div>
    <div class="section bottom">
      <div class="icon"><i class="fas fa-cogs"></i></div>
      <div class="icon" routerLink="/login">Login</div>
      <div class="icon">Logout</div>
    </div>
  </div>
  