.company-equipments {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #37a5b1;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.search-container input {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-container button {
    background-color: #1f8bca;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button.add-button {
    background-color: #1f8bca;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 10px;
}

.equipment-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.equipment-table th, .equipment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.equipment-table th {
    background-color: #1f8bca;
    color: white;
}

.actions button {
    margin-right: 5px;
}

.actions button.update-button {
    background-color: #1f8bca;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button.delete-button {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input, .form-group textarea, .form-group select {
    width: 50%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    background-color: #1f8bca;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button.cancel {
    background-color: #808080;
}
